<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="common.pattern">%d{DEFAULT} %level %C %L [%t] %msg%n</Property>
        <Property name="base.path">logs/</Property>
        <Property name="common.level">INFO</Property>
        <Property name="common.file.name"></Property>
        <Property name="error.file.name">${common.file.name}-error</Property>
        <Property name="debug.file.name">${common.file.name}-debug</Property>
        <Property name="common.file.pattern">%d{yyyy-MM-dd}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${common.pattern}"/>
            <!--            <PatternLayout pattern="%d %-5p [%t] %-5level %C{2} (%F:%L) - %msg%n"/>-->
            <!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <Filters>
                <ThresholdFilter level="${common.level}" onMatch="NEUTRAL" onMismatch="DENY"/>
            </Filters>
        </Console>
        <RollingRandomAccessFile name="global.log"
                                 fileName="${base.path}/${common.file.name}.log"
                                 filePattern="${base.path}/${common.file.name}.${common.file.pattern}.log"
                                 append="true"
        >
            <PatternLayout pattern="${common.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${base.path}" maxDepth="2">
                    <IfFileName glob="${common.file.name}*" />
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <ThresholdFilter level="${common.level}" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="error.log"
                                 fileName="${base.path}/${error.file.name}.log"
                                 filePattern="${base.path}/${error.file.name}.${common.file.pattern}.log"
                                 append="true"
        >
            <PatternLayout pattern="${common.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${base.path}" maxDepth="2">
                    <IfFileName glob="${error.file.name}*" />
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="debug.log"
                                 fileName="${base.path}/${debug.file.name}.log"
                                 filePattern="${base.path}/${debug.file.name}.${common.file.pattern}.log"
                                 append="true"
        >
            <PatternLayout pattern="${common.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${base.path}" maxDepth="2">
                    <IfFileName glob="${debug.file.name}*" />
                    <IfLastModified age="2d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="global.log"/>
            <AppenderRef ref="error.log"/>
            <AppenderRef ref="debug.log"/>
        </Root>
    </Loggers>
</Configuration>